<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Datos Personales</h1>
    <div>
    <fieldset>
        <label>Nombre: <input type="text" name="nombre" placeholder="Nombre"/></label></br>
        <label>Paterno: <input type="text" name="nombre" placeholder="Apaterno"/></label></br>
        <label>Materno: <input type="text" name="nombre" placeholder="AMaterno"/></label></br>
    </fieldset>
    </div>
    <h2>Fecha de nacimiento</h2>
    <div>
    <fieldset class="entradas">
        <label>Dia<input type="text" name="nombre" placeholder="Dia Nacimiento"/></label>
        <label>Dia<input type="text" name="nombre" placeholder="Mes"/></label>
        <label>Dia<input type="text" name="nombre" placeholder="Anio"/></label></br>
    </fieldset></br>
    <label>Sexo:
        <label> <input type="radio" name="cineco" value="si" />Sí </label>
        <label> <input type="radio" name="cineco" value="no" />No </label>
    </label>
    </div>
</body>
</html>